#movies img,
#movie img {
  width: 100%;
}

.navbar {
  margin-bottom: 20px;
}

.thumbnail {
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  #movie-title {
    height: 3em;
  }
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}
